
// Default Color Library 
// 
// This library should ABSOLUTELY be overriden, but it is here
// Just in case you need a yellow and you forgot to add it.
// 
// Colors.cc is licensed MIT. 


$navy		: #001F3F !default;
$blue		: #0074D9 !default;
$aqua		: #7FDBFF !default;
$teal		: #39CCCC !default;
$olive		: #3D9970 !default;
$green		: #2ECC40 !default;
$lime		: #01FF70 !default;
$yellow		: #FFDC00 !default;
$orange		: #FF851B !default;
$red		: #FF4136 !default;
$fuchsia	: #F012BE !default;
$purple		: #B10DC9 !default;
$maroon		: #85144B !default;
$white		: #FFFFFF !default;
$silver		: #DDDDDD !default;
$gray		: #AAAAAA !default;
$black		: #000000 !default;

// Social Media Colors
// taken from https://www.lockedowndesign.com/social-media-colors/
// also worth noting: https://github.com/reimertz/brand-colors
// 

$facebook: #3b5998;
$twitter: #00b6f1;
$youtube: #ff0000;
$instagrammagenta: #c32aa3;
$instagramblue: #4c5fd7;
$pinterest: #cb2027;
$googleplus: #df4a32;
$linkedin: #007bb6;
$vimeoblue: #45bbff;
$tumblr: #2c4762;
$snapchat: #fffc00;
$whatsappgreen: #25d366;
$foursquareblue: #2d5be3;
$swarm: #ffb000;
$skypeblue: #00aff0;
$flickrpink: #f40083;
$flickrblue: #006add;
$yahoo: #430297;
$soundcloud: #ff5500;
$reddit: #ff5700;
